section.hero {

    &.frontpage {
        @extend %full-height-scroll;
        .frame {
            height: 100%;

            .grid-container {
                height: 100%;

                .grid {
                    &.content {
                        .content {
                            height: 100%;

                            .text {
                                height: 100%;

                                display: flex;
                                flex-direction: column;

                                h1 {
                                    &#title-frontpage {
                                        margin-bottom: auto;
    
                                        @include screen-desktop {
                                            font-size: $headerHeightDesktop;
                                        }
                                        @include screen-tablet {
                                            font-size: $headerHeightTablet;
                                        }
        
                                        @include screen-mobile {
                                            font-size: $headerHeightMobile;
                                        }
                                
                                        span.line {
                                            
                                            strong {
                                                position: relative;
    
                                                
                                                font-weight: bold;
                                                
                                                &::after {
                                                    @extend .sticker; 
                                                    width: 0;
                                                    height: 4px;
                                                    top: unset;
                                                    bottom: 0;
        
                                                    @extend %bg-color-black-100;
        
                                                    content: "";
                                                    transition: 0.25s;
                                                }
                                            }
    
                                            &.typed {
                                                &::after {  
                                                    width: 100%!important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}