// HEADER
$headerHeightMobile: 60px;
$headerHeightTablet: 80px;
$headerHeightDesktop: 80px;
$headerCollapseHeightMobile: 50vw;
$headerCollapseHeightTablet: 16vw;
$headerCollapseHeightDesktop: 250px;

// BREAKPOINTS 
$screenDesktopMin: 960px;

$screenTabletMax: $screenDesktopMin - 1;
$screenTabletMin: 640px;

$screenMobileMax: $screenTabletMin - 1;

$sideDesktop: calc((100vw - $screenDesktopMin) / 2);
$sideTablet: calc((100vw - $screenTabletMin) / 2);
$sideMobile: 100%;

$threeQuarterWidthDesktop: calc($screenDesktopMin + $sideDesktop);
$threeQuarterWidthTablet: calc($screenTabletMin + $sideTablet);

$halfWidthDesktop: calc($screenDesktopMin / 2);
$halfWidthTablet: calc($screenTabletMin / 2);

$headerHeightDesktopHalf: calc($headerHeightDesktop / 2);
$headerHeightTabletHalf: calc($headerHeightTablet / 2);
$headerHeightMobileHalf: calc($headerHeightMobile / 2);

$headerHeightDesktopQuarter: calc($headerHeightDesktop / 4);
$headerHeightTabletQuarter: calc($headerHeightTablet / 4);
$headerHeightMobileQuarter: calc($headerHeightMobile / 4);

$headerHeightDesktopEight: calc($headerHeightDesktop / 8);
$headerHeightTabletEight: calc($headerHeightTablet / 8);
$headerHeightMobileEight: calc($headerHeightMobile / 8);

$headerHeightDesktopDouble: calc($headerHeightDesktop * 2);
$headerHeightTabletDouble: calc($headerHeightTablet * 2);
$headerHeightMobileDouble: calc($headerHeightMobile * 2);

// MEDIA RULES 
@mixin screen-mobile {
    @media (max-width: $screenMobileMax) { @content; }

    $bgHero: red;
}

@mixin screen-tablet {
    @media (min-width: $screenTabletMin) and (max-width: $screenTabletMax) { @content; }

    $bgHero: blue;
}

@mixin screen-desktop {
    @media (min-width: $screenDesktopMin) { @content; }

    $bgHero: yellow;
}

// Frame
.frame { 
    margin-left: auto;
    margin-right: auto;

    // @extend .padding-frame;
    
    @include screen-mobile {
        // width: 90%;
        // @extend .padding-left-frame;
        // @extend .padding-right-frame;
        // box-sizing: border-box;
    }
    
    @include screen-tablet {
        width: $screenTabletMin;
        padding: 0;
    }
    
    @include screen-desktop {
        width: $screenDesktopMin;
        padding: 0;
    }
}