section.usp-cards {
    .frame {
        .grid-container {
            .grid {
                display: grid;
                grid-template-columns: auto 1fr;
                @extend %gap;

                i {
                    grid-row: 1 / 3;

                    @extend %font-size-heading-one;
                }

                h3 {
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

}